{% extends "defaultPage.html" %}

{% block title %}Brokers cadastrados{% endblock %}

{% block content %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0"> Brokers cadastrados</small></h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">

                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg">

                            {% for broker in brokers %}
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{broker['id']}} - {{broker['nickname']}} - {{broker["ip"]}}:{{broker["port"]}} </h5>
                                    <p class="card-text">
                                        Usuario: {{broker["user"]}}
                                        Password: {{broker["password"]}}

                                    </p>
                                    
                                    <button class="btn btn-danger btn-sm me-2" onclick="deleteBroker({{broker['id']}})" id="delete_broker_btn_{{broker['id']}}" >
                                        <iconify-icon icon="tabler:trash" width="24" height="24"></iconify-icon>
                                    </button>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        <!-- /.col-md-6 -->

                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <script>
                    function deleteBroker(id){

                        var confirmacao = confirm("Tem certeza que deseja deletar o broker" + id + " ?");

                        if(confirmacao)
                            {
                                let formData = new FormData(); //Vai ser um fomulario enviado pelo javascript
                                    formData.append('id', id);

                                    fetch("{{ url_for('api_delete_broker', id=0) }}".replace("0", id),  {
                                    method: 'DELETE', 
                                    body: formData
                                    }).then(() => { document.location.reload(true);});
                            }
                        }
        </script>

{% endblock %}