{% extends "defaultPage.html" %}

{% block title %}Conectar Novo Robô{% endblock %}

{% block content %}
<div class="content-wrapper">
    <!-- Cabeçalho -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-3">
                <div class="col-sm-6">
                    <h1 class="m-0"><i class="fas fa-robot"></i> Conectar Novo Robô</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Conteúdo Principal -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="card shadow">
                        <div class="card-header bg-danger text-white">
                            <h5 class="card-title"><i class="fas fa-plug"></i> Configurar Conexão</h5>
                        </div>
                        <div class="card-body">
                            <form action="{{ url_for('connection_post') }}" method="POST">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label><i class="fas fa-robot"></i> Tipo de Robô</label>
                                            <select class="form-control" name="robot_id" required>
                                                {% for robot in robots %}
                                                <option value="{{ robot['id'] }}">{{ robot["type"] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label><i class="fas fa-server"></i> Conexão Broker</label>
                                            <select class="form-control" name="broker_id" required>
                                                {% for broker in brokers %}
                                                <option value="{{ broker['id'] }}">{{ broker["nickname"] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label><i class="fas fa-network-wired"></i> IP do Robô</label>
                                            <input type="text" class="form-control" name="ip" placeholder="Ex: 192.168.1.10" required>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label><i class="fas fa-plug"></i> Porta do Robô</label>
                                            <input type="number" class="form-control" name="port" placeholder="Ex: 1883" required>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label><i class="fas fa-info-circle"></i> Descrição</label>
                                            <input type="text" class="form-control" name="description" placeholder="Digite uma descrição.">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label><i class="fas fa-key"></i> Token de Conexão</label>
                                            <input type="text" class="form-control" name="token" placeholder="Digite o token de acesso caso necessário.">
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label><i class="fas fa-comments"></i> Tópico MQTT</label>
                                            <input type="text" class="form-control" name="topic" placeholder="Ex: /robot/status" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer text-right">
                                    <button type="submit" class="btn btn-secondary">
                                        <i class="fas fa-save"></i> Salvar Conexão
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- /.col-lg-8 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.content -->
</div> <!-- /.content-wrapper -->
{% endblock %}
